@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  background-color: pink;
  overflow: hidden;
}

#boardContainer {
  width: 70%;
  height: 100vh;
  padding: 2vh;
}

#diceContainer {
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#diceContainer button {
  border: none;
  margin-top: 2vh;
  width: 50%;
}

#diceContainer button:hover {
  background-color: greenyellow;
  transform: scale(1.1);
  transition: transform 1s;
}

#board {
  width: 100%;
  height: 100%;
  background-color: black;
}

.rows {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box {
  position: relative;
  width: 9.5%;
  height: 95%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box h3 {
  position: absolute;
  top: 0;
  right: 0.5vh;
}

#dice {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  perspective: 100000000px;
  /* transform: rotateX(10deg) rotateY(10deg) rotateZ(10deg); */
}

.face {
  border: 2px solid white;
  background-color: blue;
  border-radius: 2vh;
  position: absolute;
  width: 100%;
  height: 100%;
}

#fsix {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: rotateY(90deg) translateZ(-100px);
}

#ffive {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: translateZ(100px);
}

.two_in_row {
  width: 100%;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
}

#ffour {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: rotateX(90deg) translateZ(-100px);
}

#fthree {
  display: flex;
  transform: rotateX(90deg) translateZ(100px);
}

.three_in_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  rotate: 45deg;
}

#ftwo {
  display: flex;
  align-items: center;
  transform: translateZ(-100px);
}

#fone {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(90deg) translateZ(100px);
}

.dot {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}

.btnContainer {
  width: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 10vh;
  bottom: 10vh;
  position: absolute;
  display: flex;
}

.btnContainer button {
  width: 100%;
}

#diceCont {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.players {
  z-index: 2;
  font-size: 35px !important;
  animation: travel 2s, shadowshow 2s infinite;
}

@keyframes shadowshow {
  0% {
    box-shadow: 0 0 5px rgba(2, 10, 18, 0.92);
  }
  50% {
    box-shadow: 0 0 6px rgba(202, 228, 225, 0.98);
  }
  100% {
    box-shadow: 0 0 5px rgba(1, 7, 12, 0.92);
  }
}

#player1 {
  color: red;
}

#player2 {
  color: yellow;
}

#player3 {
  color: blue;
}

#player4 {
  color: green;
}

@keyframes travel {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.imgLadder {
  z-index: 1;
  position: absolute;
  opacity: 0.85;
}

#f6_t52 {
  height: 62vh;
  width: 15vw;
  bottom: 0;
  right: 44%;
  transform: rotateZ(40deg);
}

#f24_t62 {
  height: 48vh;
  width: 15vw;
  bottom: 21%;
  left: 11%;
  transform: rotateZ(-33deg);
}

#f55_t71 {
  height: 60vh;
  width: 15vw;
  bottom: 35%;
  left: 45%;
  transform: rotateZ(70deg);
}

.snakes {
  z-index: 1;
  position: absolute;
  opacity: 0.6;
}

#sf38_20 {
  left: 3%;
  bottom: 12%;
  height: 28vh;
  width: 15vw;
  transform: rotateZ(100deg);
}

#sf99_77 {
  left: 10%;
  top: 4%;
  height: 28vh;
  width: 15vw;
  transform: rotateZ(-10deg);
}

#sf66_26 {
  left: 30%;
  top: 40%;
  height: 32vh;
  width: 15vw;
  transform: rotateZ(45deg);
}

@media screen and ((max-width: 1350px)) {
  #root {
    display: none;
  }
}

@media screen and ((max-height: 750px)) {
  #root {
    display: none;
  }
}

.rows:nth-of-type(2n + 1) .box:nth-of-type(2n + 1) {
  background-color: greenyellow;
}

.rows:nth-of-type(2n) .box:nth-of-type(2n) {
  background-color: yellowgreen;
}

#lgb {
  z-index: 3;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: rgb(0, 0, 0, 0.9);
  position: absolute;
  flex-direction: column;
  text-shadow: 0 0 7px red;
}

.lHeading {
  height: 20%;
  width: 100%;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.lBody {
  height: 80%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#start {
  height: 10vh;
  width: 20%;
  font-size: 45px;
}

#start:hover {
  text-shadow: 0 0 7px red;
  color: white;
  background-color: greenyellow;
  transition: color 1s, background-color 1s, text-shadow 1s;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  height: 60%;
}

.price div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 30%;
}

.price div div {
  width: 45%;
  height: 100%;
}

.price div div img {
  width: 100%;
  height: 100%;
}
