@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

#boardContainer {
  width: 70%;
  height: 100vh;
  padding: 2vh;
}

#diceContainer {
  width: 30%;
  height: 100vh;
}

#board {
  width: 100%;
  height: 100%;
  background-color: black;
}

.rows {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box {
  position: relative;
  width: 9.5%;
  height: 95%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box h3 {
  position: absolute;
  top: 0;
  right: 0.5vh;
}

#dice {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  perspective: 100000000px;
  /* transform: rotateX(10deg) rotateY(10deg) rotateZ(10deg); */
}

.face {
  border: 2px solid white;
  background-color: blue;
  border-radius: 2vh;
  position: absolute;
  width: 100%;
  height: 100%;
}

#fsix {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: rotateY(90deg) translateZ(-100px);
}

#ffive {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: translateZ(100px);
}

.two_in_row {
  width: 100%;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
}

#ffour {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: rotateX(90deg) translateZ(-100px);
}

#fthree {
  display: flex;
  transform: rotateX(90deg) translateZ(100px);
}

.three_in_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  rotate: 45deg;
}

#ftwo {
  display: flex;
  align-items: center;
  transform: translateZ(-100px);
}

#fone {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(90deg) translateZ(100px);
}

.dot {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}

.btnContainer {
  width: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 10vh;
  bottom: 10vh;
  position: absolute;
  display: flex;
}

.btnContainer button {
  width: 100%;
}

#diceCont {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.players {
  z-index: 2;
  font-size: 35px !important;
  animation: travel 2s, shadowshow 2s infinite;
}

@keyframes shadowshow {
  0% {
    box-shadow: 0 0 5px rgba(30, 132, 242, 0.92);
  }
  50% {
    box-shadow: 0 0 6px rgba(202, 228, 225, 0.98);
  }
  100% {
    box-shadow: 0 0 5px rgba(30, 132, 242, 0.92);
  }
}

#player1 {
  color: red;
}

#player2 {
  color: yellow;
}

#player3 {
  color: blue;
}

#player4 {
  color: green;
}

@keyframes travel {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btnSelect {
  width: 100%;
  text-align: center;
}

.imgLadder {
  z-index: 1;
  position: absolute;
  opacity: 0.85;
}

#f6_t52 {
  height: 62vh;
  width: 15vw;
  bottom: 0;
  right: 44%;
  transform: rotateZ(40deg);
}

#f24_t62 {
  height: 48vh;
  width: 15vw;
  bottom: 21%;
  left: 11%;
  transform: rotateZ(-33deg);
}

#f55_t71 {
  height: 60vh;
  width: 15vw;
  bottom: 35%;
  left: 45%;
  transform: rotateZ(70deg);
}

.snakes {
  z-index: 1;
  position: absolute;
  opacity: 0.6;
}

#sf38_20 {
  left: 3%;
  bottom: 12%;
  height: 28vh;
  width: 15vw;
  transform: rotateZ(100deg);
}

#sf99_77 {
  left: 10%;
  top: 4%;
  height: 28vh;
  width: 15vw;
  transform: rotateZ(-10deg);
}

#sf66_26 {
  left: 30%;
  top: 40%;
  height: 32vh;
  width: 15vw;
  transform: rotateZ(45deg);
}

@media screen and ((max-width: 1300px)) {
  #root {
    display: none;
  }
}

@media screen and ((max-height: 500px)) {
  #root {
    display: none;
  }
}
